.plans-container--slider {       
    justify-content: space-evenly;
    align-items: center;

  overflow-x: unset;
  overscroll-behavior-x: unset;
  scroll-snap-type: x none;

  }
  .plans-container--card {
    scroll-snap-align: unset;
  }

  .bitcoin-img-container {
    align-items: flex-end;
    justify-content: flex-start;    
  }

  .bitcoin-img-container h2 {
    font-size: 55px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }