* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three-michis{
  min-height: 30vh;
}

.three-michis img{
  max-height: 300px;  
  max-width: 33vw;
  margin-bottom: 16px;
}

.three-michis{
  width: 100%;
  background-color: azure;
  display: flex;
  justify-content: space-evenly;
}

.card-container{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 35%;
  align-items: center;
  justify-content: center; 
}

.card-container button{
  width: 100%;
}

.favorites{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.col{
  max-width: 33%;
  display: flex;
  flex-direction: column;
}

.col div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px ;
}

.col div img{
  max-width: 100%;
}

.col div button{
  width: 100%;
}