* {
  margin: 0;
  padding: 0;
  border: 0;
}

div h1 {
  width: 100%;
  border: solid 10px red;
  background-color: burlywood;
  box-sizing: border-box;
}

.imagenes {
  display: inline-block;
}


img {
  width: 100%;
}
